@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  text-decoration: none;
}

body {
    *background: #21b1219f;
    color: blue;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  height: 20rem;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}

.headerSuperior {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo img {
  width: 200px;
}

.search input {
  width: 300px;
  padding: 10px;
}

.containerMenu {
  width: 100%;
  height: 70px;
  background: #008000;
  padding: 0px 20px;
}

.menu {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

nav {
  height: 100%;
}

nav > ul {
  height: 100%;
  display: flex;
}

nav ul li {
  height: 100%;
  list-style: none;
  position: relative;
}

nav > ul > li:first-child > a {
  background-image: url(../assets/home.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 40px;
}
nav > ul > li:first-child:hover > a {
  background-image: url(../assets/home.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  color: #f09621;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

nav > ul > li > a:hover {
  font-size: 15px;
  font-weight: 900;
  background-color: #1dda1db7;
  color: #fa6603;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#selected {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #1dda1db7;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

nav ul li ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 70px;
}

nav ul li ul:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ffffff;
  position: absolute;
  top: -12px;
  left: 20px;
}

nav ul li ul li a {
  display: block;
  color: #008000;
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease;
}

nav ul li ul li a:hover {
  background: #f09621;
  color: #008000;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.headerSpacer {
  flex: 1 1 auto;
}

.login {
    color: #f09621;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnLogin{
    text-transform: uppercase;
    font-size: 15px;
}

.iconMenu {
  width: 50px;
  height: 100%;
  font-size: 40px;
  color: white;
  cursor: pointer;
  display: none;
  align-items: center;
}

#checkMenu {
  display: none;
}

@media screen and (max-width: 720px) {
  .iconMenu {
    display: block;
  }

  .headerSuperior {
    padding: 10px;
  }

  .logo img {
    width: 150px;
  }

  nav > ul {
    flex-direction: column;
    background-color: #008000;
    position: fixed;
    left: 0px;
    top: 220px;
    width: 100%;
    padding-left: 0;
    height: 0px;
    transform: all 300ms ease;
    -webkit-transform: all 300ms ease;
    -moz-transform: all 300ms ease;
    -ms-transform: all 300ms ease;
    -o-transform: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
  }

  nav > ul > li > a:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  nav ul li ul {
    left: 90px;
  }

  nav > ul > li:hover ul {
    top: 50px;
  }

  nav > ul > li:first-child a {
    background-position: 20px;
  }

  #selected {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  #checkMenu:checked ~ nav > ul {
    height: 300px;
    visibility: visible;
    opacity: 1;
    transform: all 300ms ease;
    -webkit-transform: all 300ms ease;
    -moz-transform: all 300ms ease;
    -ms-transform: all 300ms ease;
    -o-transform: all 300ms ease;
  }
}
